<!-- ADD PRODUCT -->
<form *ngIf="productId == 0" class="col-8 container">
    <br>
    <h2 class="text-center">Add a product</h2>
    <hr>
    <div class="col-10 container">
        <div class="form-group">
            <label for="productCategoryId">Product Category Id</label>
            <input type="number" class="form-control" name="productCategoryId" id="productCategoryId"
                [(ngModel)]="productCategoryId" placeholder="Enter the product category id">
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" id="name" [(ngModel)]="name"
                placeholder="Enter your name">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" name="description" id="description" [(ngModel)]="description"
                placeholder="Enter the description">
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <input type="number" class="form-control" name="price" id="price" [(ngModel)]="price"
                placeholder="Enter the price">
        </div>
        <button type="button" (click)="addProduct()" data-toggle="alert"
            class="btn btn-lg btn-success float-right">Add</button>

        <div *ngIf="alert" style="margin: auto;" class="alert alert-success text-center col-8" role="alert">
            <strong>Product added successfully!</strong>
        </div>
    </div>
</form>

<!-- EDIT PRODUCT -->
<form *ngIf="productId != 0" class="col-8 container">
    <br>
    <h2 class="text-center">Edit product</h2>
    <hr>
    <div class="col-10 container">
        <div class="form-group">
            <label for="productCategoryId">Product Category Id</label>
            <input type="number" class="form-control" name="productCategoryId" id="productCategoryId"
                [(ngModel)]="productCategoryId" placeholder="{{product.productCategoryId}}">
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" id="name" [(ngModel)]="name"
                placeholder="{{product.name}}">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" name="description" id="description" [(ngModel)]="description"
                placeholder="{{product.description}}">
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <input type="number" class="form-control" name="price" id="price" [(ngModel)]="price"
                placeholder="{{product.price}}">
        </div>
        <button type="button" (click)="editProduct()" data-toggle="alert"
            class="btn btn-lg btn-warning float-right">Edit</button>

        <div *ngIf="alert" style="margin: auto;" class="alert alert-success text-center col-8" role="alert">
            <strong>Product edited successfully!</strong>
        </div>
    </div>
</form>