<!-- ADD PRODUCT CATEGORY-->
<form *ngIf="productCategoryId == 0" class="col-8 container">
    <br>
    <h2 class="text-center">Add a product category</h2>
    <hr>

    <div class="col-10 container">
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" name="description" id="description" [(ngModel)]="description"
                placeholder="Enter the description">
        </div>
        <button type="button" (click)="addProductCategory()" class="btn btn-lg btn-success float-right">Add</button>

        <div *ngIf="alert" style="margin: auto;" class="alert alert-success text-center col-8" role="alert">
            <strong>Product category added successfully!</strong>
        </div>
    </div>
</form>

<!-- EDIT PRODUCT CATEGORY-->
<form *ngIf="productCategoryId != 0" class="col-8 container">
    <br>
    <h2 class="text-center">Edit product category</h2>
    <hr>

    <div class="col-10 container">
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" name="description" id="description" [(ngModel)]="description"
                placeholder="Enter the description">
        </div>
        <button type="button" (click)="editProductCategory()" class="btn btn-lg btn-warning float-right">Edit</button>

        <div *ngIf="alert" style="margin: auto;" class="alert alert-success text-center col-8" role="alert">
            <strong>Product category edited successfully!</strong>
        </div>
    </div>
</form>